# Backend
Backend/.env

# Ignore vendor directory
/vendor/

# Ignore Composer files that are generated or unnecessary
composer.lock
composer.phar

# Ignore logs and temporary files
*.log
*.tmp

# Frontend specific
/Frontend/node_modules
/Frontend/.angular/cache
/Frontend/dist

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Ignore stderr logs
stderr
Backend/stderr

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
