/* Kontejner za sve, da obuhvati cijelu visinu */
.tools-container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px); /* Prilagodba visine, oduzmi header i footer */
}

/* Glavni kontejner za kartice */
.tools-container {
  display: flex;
  flex-wrap: wrap; /* Omogućava prelazak u sledeći red */
  justify-content: flex-start; /* Poravnava kartice ulevo */
  gap: 20px; /* Razmak između kartica */
  background-color: #34495e; /* Tamnoplava pozadina sekcije */
  padding: 20px;
  flex: 1; /* Omogućava da se rasteže prema dole */
  margin: 0 auto; /* Centriranje ako je širina ograničena */
  width: calc(100% - 40px); /* Dodaj padding kako bi izbjegao preklapanje */
}

/* Kartice ostaju iste */
.tool-card {
  background-color: #2c3e50; /* Tamna pozadina kartica */
  border-radius: 8px;
  border: 1px solid #1a252f;
  padding: 20px;
  text-align: center; /* Centriranje sadržaja */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white; /* Svetla boja teksta */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  flex: 1 1 calc(25% - 20px); /* Prilagodljiva širina kartica */
  max-width: 300px; /* Maksimalna širina */
  min-width: 200px; /* Minimalna širina */
}

.tool-card img {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.tool-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-color: #e67e22;
}

.tool-card h3 {
  margin: 10px 0;
  color: #ecf0f1;
}

.tool-card p {
  margin: 5px 0;
  color: #b0bec5;
}

/* Sekcija s detaljima */
.tool-details {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: #2c3e50;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; 
}

/* Footer se pomiče na dno */
app-footer {
  margin-top: auto; /* Gurni footer na dno stranice */
}

/* Responzivnost za manje ekrane */
@media (max-width: 768px) {
  .tool-card {
    flex: 1 1 100%; /* Kartice zauzimaju cijeli red na manjim ekranima */
  }
}

.tool-details button {
  background-color: #e67e22; /* Narandžasta boja dugmeta */
  color: white;
  border: none;
  padding: 12px 20px; /* Veći padding za bolje proporcije */
  border-radius: 5px;
  font-size: 16px; /* Veći font za bolju vidljivost */
  cursor: pointer;
  margin-top: 20px; /* Razmak od sadržaja detalja */
  margin-bottom: 20px; /* Veći razmak između dugmeta i footera */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tool-details button:hover {
  background-color: #d35400; /* Tamnija narandžasta na hover */
  transform: scale(1.05); /* Blagi efekat povećanja */
}
