.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 40px;
}


.welcome-box {
  width: 400px; /* Ista širina za obe kutije */
  padding: 30px;
  background: #2c3e50;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #34495e;
  color: white;
  font-size: 14px;
}

input:focus {
  outline: none;
  border: 1px solid #e67e22;
}

button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #d35400;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
