<section class="reset-password-container">
    <h2>Reset Password</h2>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <form (ngSubmit)="resetPassword()" *ngIf="!successMessage">
      <label for="newPassword">New Password:</label>
      <input
        id="newPassword"
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="Enter your new password"
        required
      />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        id="confirmPassword"
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm your new password"
        required
      />
      <button type="submit">Reset Password</button>
    </form>
  </section>
  